extends layout

block content

  h1 Top Down Operator Precedence. Lexical Analysis  
  p
   nav
    a(href="http://javascript.crockford.com/tdop/tdop.html", class="mylink") Top Down Operator Precedence tutorial
    a(href="https://github.com/PL2015/PL015-AnalizadorLexicoJS", class="mylink") Repo at GitHub
  h2 Input
    p Fill the input box with javascript code:
    textarea#INPUT(rows='20', cols='50')
      | var a = "hello"; // initialize a    
    br
    input#PARSE(value='parse', type=button, class="mylink") 
    button#input1(type="button", onclick="dump('input1.txt')") input1
    button#input2(type="button", onclick="dump('input2.txt')") input2
    button#input3(type="button", onclick="dump('input3.txt')") input3
    button#input4(type="button", onclick="dump('input4.txt')") input4
      
    div#drop_zone
      Drop files here
    output#list
      
    script(type='text/javascript')
      | setupFileList();
    pre#OUTPUT
